/* Variables */
:root{
    /* Colors */
    --bg-primary: #FFFFFF;
    --bg-secondary: #83869A;

    --button-hover: #666CA3;
    --button-default: #13183F;

    --get-started: #F74780;
    --get-started-hover: #FFA7C3;

    --primary-gradient: linear-gradient(0deg, #F02AA6 0%, #FF6F48 100%);
    --secondary-gradient: linear-gradient(0deg, #F02AA6 0%, #4851FF 100%);

    /* Typography */
    --fs-heading-xl: 3.5rem;
    --fs-heading-l: 2.5rem;
    --fs-heading-m: 2rem;
    --fs-heading-s: 1.5rem;

    --fs-body-m: 1.125rem;
    --fs-body-s: 1rem;
}

/* Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}